@font-face {
  font-family: handwritten_title;
  src:         url("../fonts/TrashHand.TTF");
  }

.gig {
  background-image:  url("../images/notepad_center_2.png");
  background-size:   100%;
  background-repeat: repeat-y;
  padding:           0 10%;
  margin-bottom:     0;
  }

.gig_after {
  background-image:    url("../images/notepad_bottom_2.png");
  background-size:     100%;
  background-repeat:   no-repeat;
  background-position: bottom;
  margin-bottom:       10px;
  height:              0;
  padding-top:         8.6%;
  border: 0;
  }

.gig_before {
  background-image:    url("../images/notepad_top_2.png");
  background-size:     100%;
  background-repeat:   no-repeat;
  background-position: top;
  margin-bottom:       0;
  height:              0;
  padding-top:         7.5%;
  border: 0;
  }

.gig_title, .gig_date, .subtitle, .bands, .venue, .details {
  text-align:  center;
  font-family: 'Just Another Hand', cursive;
  font-size:   30pt;
  }

.gig_title, .gig_date {
  font-family: 'handwritten_title';
  line-height: 0.9em;
  padding:     10px 0;
  }

.gig_date {
  border-bottom: 1px dashed black;
  }

.gig_date, .bands {
  font-size: 34pt;
  }

.subtitle {
  font-size: 24pt;
  }

.details {
  font-size: 24pt;
  }

.detail:after {
  content: " - ";
  }

.gig p{
  padding: 0 8px;
  }